*.png
*/*.png
*/*/*.png
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/*/*/*/.ipynb_checkpoints/*
*.zip
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*/*/*/*.zip
*/*/*/*.png
*.Rds
*/*.Rds
*/*/*.Rds
*/*/*/*.Rds
*/*/*/*/*.Rds
